In [1]:
import pandas as pd
import csv

In [4]:
filepath = "Raw Data/JC-202101-citibike-tripdata.csv"
df_JC_202101 = pd.read_csv(filepath)

filepath2 = "Raw Data/202101-citibike-tripdata.csv"
df_202101 = pd.read_csv(filepath2)

In [5]:
df_202101.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [6]:
df_JC_202101.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [11]:
df_list = [df_JC_202101, df_202101]
df_concat_202101 = pd.concat(df_list)
df_concat_202101

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,569,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,3300,Prospect Park West & 8 St,40.665147,-73.976376,3395,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,1
1095342,1439,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,3081,Graham Ave & Grand St,40.711863,-73.944024,307,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,1
1095343,2619,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,447,8 Ave & W 52 St,40.763707,-73.985162,4058,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,1
1095344,83,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,3462,E 44 St & 2 Ave,40.751184,-73.971387,3462,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,1
1095345,1313,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,504,1 Ave & E 16 St,40.732219,-73.981656,3687,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,1

In [9]:
df_JC_202101.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,11624.000000,11624.000000,11624.000000,11624.000000,11624.000000,11624.000000,11624.000000,11624.000000,11624.000000,11624.000000
mean,985.140571,3299.824673,40.722745,-74.047279,3298.063575,40.722357,-74.046722,41836.669219,1980.838696,1.120871
std,9907.868836,177.102119,0.007203,0.011707,178.562559,0.007211,0.011574,5154.081529,11.461724,0.560016
min,61.000000,3184.000000,40.711130,-74.083639,514.000000,40.711130,-74.083639,19209.000000,1946.000000,0.000000
25%,271.000000,3195.000000,40.717733,-74.051789,3195.000000,40.717733,-74.050656,41547.000000,1969.000000,1.000000
50%,443.500000,3210.000000,40.721630,-74.044247,3210.000000,40.721525,-74.043845,42574.000000,1984.000000,1.000000
75%,797.000000,3276.000000,40.727224,-74.038051,3276.000000,40.727224,-74.038051,44872.000000,1990.000000,1.000000
max,760684.000000,3792.000000,40.748716,-74.032108,4069.000000,40.848282,-73.941343,49985.000000,2003.000000,2.000000

In [10]:
df_202101.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.095346e+06,1.095346e+06,1.095346e+06,1.095346e+06,1.095346e+06,1.095346e+06,1.095346e+06,1.095346e+06,1.095346e+06,1.095346e+06
mean,9.339377e+02,2.132498e+03,4.074246e+01,-7.397627e+01,2.129096e+03,4.074219e+01,-7.397647e+01,4.174315e+04,1.980270e+03,1.181644e+00
std,7.933943e+03,1.561416e+03,3.544283e-02,2.275544e-02,1.561959e+03,3.528590e-02,2.282119e-02,6.757353e+03,1.287017e+01,5.608930e-01
min,6.100000e+01,7.200000e+01,4.064451e+01,-7.402309e+01,7.200000e+01,4.064451e+01,-7.404399e+01,1.483500e+04,1.866000e+03,0.000000e+00
25%,3.310000e+02,4.380000e+02,4.071882e+01,-7.399230e+01,4.380000e+02,4.071882e+01,-7.399266e+01,3.675200e+04,1.969000e+03,1.000000e+00
50%,5.800000e+02,3.129000e+03,4.074268e+01,-7.398093e+01,3.128000e+03,4.074174e+01,-7.398128e+01,4.324600e+04,1.983000e+03,1.000000e+00
75%,1.032000e+03,3.526000e+03,4.076548e+01,-7.396069e+01,3.524000e+03,4.076501e+01,-7.396071e+01,4.788300e+04,1.991000e+03,2.000000e+00
max,2.140110e+06,4.387000e+03,4.085225e+01,-7.388431e+01,4.387000e+03,4.085225e+01,-7.388431e+01,5.012400e+04,2.005000e+03,2.000000e+00

In [12]:
df_concat_202101.to_csv("Raw Data/JC_NY_202101.csv")